Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceReservasi/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceReservasi/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceReservasi/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceReservasi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_pemesanan_InputMessage">
    <wsdl:part name="parameters" element="tns:pemesanan" />
  </wsdl:message>
  <wsdl:message name="IService1_pemesanan_OutputMessage">
    <wsdl:part name="parameters" element="tns:pemesananResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editpemesanan_InputMessage">
    <wsdl:part name="parameters" element="tns:editpemesanan" />
  </wsdl:message>
  <wsdl:message name="IService1_editpemesanan_OutputMessage">
    <wsdl:part name="parameters" element="tns:editpemesananResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePemesanan_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePemesanan" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePemesanan_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePemesananResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReviewLokasi_InputMessage">
    <wsdl:part name="parameters" element="tns:ReviewLokasi" />
  </wsdl:message>
  <wsdl:message name="IService1_ReviewLokasi_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReviewLokasiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DetailLokasi_InputMessage">
    <wsdl:part name="parameters" element="tns:DetailLokasi" />
  </wsdl:message>
  <wsdl:message name="IService1_DetailLokasi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetailLokasiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pemesanan_InputMessage">
    <wsdl:part name="parameters" element="tns:Pemesanan" />
  </wsdl:message>
  <wsdl:message name="IService1_Pemesanan_OutputMessage">
    <wsdl:part name="parameters" element="tns:PemesananResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="pemesanan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/pemesanan" message="tns:IService1_pemesanan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/pemesananResponse" message="tns:IService1_pemesanan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editpemesanan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editpemesanan" message="tns:IService1_editpemesanan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editpemesananResponse" message="tns:IService1_editpemesanan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePemesanan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletePemesanan" message="tns:IService1_deletePemesanan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletePemesananResponse" message="tns:IService1_deletePemesanan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReviewLokasi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReviewLokasi" message="tns:IService1_ReviewLokasi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReviewLokasiResponse" message="tns:IService1_ReviewLokasi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetailLokasi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DetailLokasi" message="tns:IService1_DetailLokasi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DetailLokasiResponse" message="tns:IService1_DetailLokasi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pemesanan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pemesanan" message="tns:IService1_Pemesanan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PemesananResponse" message="tns:IService1_Pemesanan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pemesanan">
      <soap:operation soapAction="http://tempuri.org/IService1/pemesanan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editpemesanan">
      <soap:operation soapAction="http://tempuri.org/IService1/editpemesanan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePemesanan">
      <soap:operation soapAction="http://tempuri.org/IService1/deletePemesanan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewLokasi">
      <soap:operation soapAction="http://tempuri.org/IService1/ReviewLokasi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailLokasi">
      <soap:operation soapAction="http://tempuri.org/IService1/DetailLokasi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pemesanan">
      <soap:operation soapAction="http://tempuri.org/IService1/Pemesanan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceReservasi/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>